* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

.hero {
  width: 85%;
  margin: 0 auto;
}

nav {
  display: flex;
  width: 85%;
  margin-inline: auto;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
}

nav ul {
  display: flex;
  gap: 1em;
  list-style-type: none;
}
img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  display: block;
  border-radius: 60px 15px 15px;
  border: 10px white solid;
}
a {
  color: #0e421c;
  text-decoration: none;
}

.header {
  background-image: linear-gradient(45deg, white, #ffe0ba, white);
}

.login,
.heroSecondary,
.heroPrimary {
  padding: 0.5em 1.5em;
  background-color: transparent;
  border: 0.1em solid #0e421c;
}
.leftContent {
  width: 65%;
}
.heroTitle {
  font-size: clamp(1rem, -2rem + 13.3333vw, 5rem);
  color: #0e421c;
}
.heroText {
  margin-top: 1em;
}

.hero {
  padding-top: 5em;
  display: flex;
  gap: 2em;
}

.HeroButtons {
  padding-top: 2em;
  display: flex;
  justify-content: space-between;
}
.TreeImg {
  width: 30%;
}

.rightContent {
  width: 35%;
}
.middleContent {
  padding-top: 2em;
}
